/*--------------------------------------------------------------
# About Page Styles
--------------------------------------------------------------*/
.about-content {
	@include flexify (center, center);
	flex-direction: column;
	text-align: center;
	padding: 2% 0;
	h1 {
		margin: 0;
	}
	@include desktop {
		text-align: left;
	}
}

//Page Title Banner styles
.about-banner {
	background-image: url(../../assets/images/mobile/about-banner-mobile.jpg);
	background-position: center;
	background-size: cover;
	@include desktop {
		background-image: url(../../assets/images/desktop/about-banner-desktop.jpg);
	}
}
//LOGO ON BANNER STYLES
.rise-about-logo {
	@include desktop {
		display: none;
	}
}
//NAV  ON BANNER STYLES
.about-people-nav {
	display: none;
	@include desktop {
		height: 15rem;
		width: 100vw;
		@include flexify(space-around, center);
		flex-flow: row nowrap;
		text-align: center;
		img {
			width: 10rem;
			height: 10rem;
		}
		h3 {
			font-weight: 500;
			color: $white;
			margin: 0;
		}
	}
}
.about-nav-link {
	color: $white;
	cursor: pointer;
	//puts the our staff category first in banner
	&:nth-child(3){
		order: -1;
	}
	&:hover {
		border-bottom: 10px solid $white;
		margin: 0;
		transition: border 300ms ease-in;
	}
}
.show{
	border-bottom: 10px solid $white;
}
.group-master-item.hidden{
	@include desktop {
		display: none;
	}
}

//MAIN PAGE CONTENT STYLES
// style the section titles for mobile and display none desktop
.group-title{
	flex-direction: column;
	text-align: center;
	margin: $base_spacing_extra_large auto;
	h3{
		margin: 0;
	}
	img {
		width: 5rem;
	}
	@include desktop {
		display: none;
	}
}

//layout the main content area
.group-content{
	@include flexify(center, center);
	flex-direction: column;	
	padding: $base_spacing_extra_large 0;
}
.group-list{
	@include flexify(center, center);
	flex-direction: column;
	text-align: center;
}

//start styling group sections
.our-staff,
.our-board,
.our-partners {
	.students-btn {
		display: none;
	}
}
.our-staff,
.our-board{
	width: 100%;
	.biography{
		display: none;
	}
}
.our-staff{
	order: -1;
	@include desktop {
		flex-flow: row wrap;
		li{
			flex-basis: 50%;
			margin-bottom: $base_spacing_large;
		}
	}
}
.our-board{
	li{
		margin-bottom: $base_spacing_extra_large;	
	}
	@include desktop {
		flex-flow: row wrap;
		li{
			flex-basis: 30%;
			&:nth-child(1),
			&:nth-child(2){
				flex-basis: 50%;
			}
		}
	}
}
.our-partners{
	display: flex;
	flex-direction: column;
	justify-content: center;
	.group-list{
		display: flex;
		flex-direction: row;
	}
	.group-item{
		&:nth-child(1){
			padding-right: 10%;
			img {
				height: 15rem;
				width: auto;
			}
		}
	}
}
.our-partners,
.our-student{
	.modal-btn {
		display: none;
	}
	.biography {
		display: none;
		@include desktop {
			display: flex; // Will need to change that later
			text-align: justify;
		}
	}
}
.modal-position,
.position{
	font-weight: bold;
	margin: $base_spacing_large 0 0 0;
	padding: 0;
}
.employed{
	margin: 0 0 $base_spacing_large  0;
}