/*--------------------------------------------------------------
# About Page Styles
--------------------------------------------------------------*/
.about-content {
	@include flexify (center, center);
	flex-direction: column;
	text-align: center;
	h1 {
		margin: 0;
	}
	@include desktop {
		text-align: left;
	}
}

//Page Title Banner styles
.about-banner {
	background-image: url(../../assets/images/mobile/about-banner-mobile.jpg);
	background-position: center;
	background-size: cover;
	@include desktop {
		background-image: url(../../assets/images/desktop/about-banner-desktop.jpg);
	}
}
//LOGO ON BANNER STYLES
.rise-about-logo {
	@include desktop {
		display: none;
	}
}
//NAV  ON BANNER STYLES
.about-people-nav {
	display: none;
	@include desktop {
		height: 25rem;
		width: 100vw;
		@include flexify(space-around, center);
		flex-flow: row nowrap;
		text-align: center;
		img {
			width: 10rem;
			height: 10rem;
		}
		h3 {
			font-weight: 500;
			color: $white;
			margin: 0;
		}
	}
}
.about-nav-link {
	color: $white;
	//puts the our staff category first in banner
	&:nth-child(3){
		order: -1;
	}
	&:hover {
		border-bottom: 10px solid $white;
		margin: 0;
		transition: border 200ms ease-in;
	}

}
.collapse{
	@include desktop {
		display: none;
		&:target{
			display: block;
		}
	}
}

//give what space to sections
.staff,
.board,
.partners,
.students {
	margin: $base_spacing_extra_large 0;
}

// style the section titles for mobile
.group-title{
	flex-direction: column;
	padding-top: $base_spacing_large;
	text-align: center;
	margin-bottom: $base_spacing_large;
	h3{
		color: $color_brand_blue;
		margin-bottom: 0;
	}
	img {
		width: 5rem;
	}
	@include desktop {
		display: none;
	}
}

//sets flex direction for the sections
.our-staff,
.our-board,
.our-students{
	flex-direction: column;
	text-align: center;
	@include desktop {
		flex-flow: row wrap;
	}
}

//STAFF section styles
.our-staff{
	width: 80%;
	margin: 0 auto;	

}
.indvid-staff-member {
	margin-top: $base_spacing_large;
	@include desktop {
		flex: 50%;
		margin-bottom: $base_spacing_extra_large;
	}
}
.staff-info {
	margin-bottom: $base_spacing_large/2;
	p{
		margin: $base_spacing_large 0;
		padding: 0;
		&:nth-child(1) {
			font-weight: bold;
		}
	}
}
//Staff Modal styles
.position,
.employed{
	padding: 0;
}
.position{
	font-weight: bold;
}
.employed {
	padding-bottom: $base_spacing_large;
}

//BOARD section styles
.our-board{
	@include desktop {
		//include centering styles here
		// width: 80rem;
		// margin: 0 auto;
	}
}
.indvid-board-member{
	margin-bottom: $base_spacing_large;
	p{
		margin-bottom: $base_spacing_large;
	}
	.position{
		margin-bottom: $base_spacing_large;
	}
	@include desktop {
		flex: 20%;
		margin-bottom: $base_spacing_extra_large;

		&:nth-child(1),
		&:nth-child(2) {
			flex: 100%;
		}

	}
}

//PARTNERS section styles
.our-partners{
	@include flexify(center, flex-start);

}
.indvid-partner {
	@include flexify(center,center);
	flex-direction:column;
	width: 40%;
	text-align: justify;
	p {
		display: none;
	}
	@include desktop {
		padding-right: $base_spacing_large;
		p {
			display: flex;
		}
	}
}
.partner-logo {
	img {
		height: 15rem;
		width: auto;
		@include desktop {
			height: 20rem;
			width: auto;
		}
	}
}
//STUDENT section styles

.student-copy{
	display:none;
	@include desktop {
		display: flex;
		margin-bottom: $base_spacing_extra_large;
	}
}


