.contact-container {
	flex-direction: column;
	text-align: center;
}

.contact-content {
	p {
		margin: 0;
		padding: 0;
	}
}

.contact-meta {
	margin: 3rem 0;
}

.contact-content {
	iframe {
		margin-bottom: 4rem;
		width: 100%;
		pointer-events:none;
		@include desktop {
			pointer-events:visible;
			width: 80%;
		}
	}
}

.contact-notes {
	@include flexify(center, center);
	flex-direction: column;
	margin: 4rem 15%;
	img {
		margin-bottom: 30px;
	}
}