.donate-container {
	flex-direction: column;
	text-align: center;
}

.donate-header {
	@include flexify(center,center);
	flex-direction: column;
}

.donate-legal-stat {
	background-color: $color_brand_blue;
	color: white;
	padding: 8%;
	@include desktop {
		font-size: $h1_size;
		padding: 7%''
	}
}	

.donate-criteria {
	padding: $base_spacing_extra_large 0;
}

.donate-who-title {
	background-image: url('../../assets/images/mobile/donate-whodohelp-mobile.jpg');
	background-size: cover;
	h2 {
		text-transform: capitalize;
		margin: 0;
		padding: 0;
		color: white;
	}
}

.donate-who-content {
	padding: $base_spacing_extra_large 0;
}

.donate-how-title {
	background-image: url('../../assets/images/mobile/donate-howwehelp-mobile.jpg');
	background-size: cover;
	img {
		width: 49px;
		height: 66px;
	}
	h2 {
		text-transform: capitalize;
		margin: 0;
		padding: 0;
		color: white;
	}
}

.donate-how-content {
	padding-top: $base_spacing_extra_large;
}

.donate-justice-container {
	padding-bottom: $base_spacing_extra_large;
}

.donate-justice {
	display: flex;
	flex-direction: row;
	margin: $base_spacing_large;
	img {
		margin-right: $base_spacing_large;

	}
}
.donate-justice-meta {
	text-align: left;

}

.donate-banner {
	background-image: url(../../assets/images/mobile/donate-howtodonate-mobile.jpg);
	background-position: center;
	color: white;
	@include desktop {
		background-image: url(../../assets/images/desktop/donate-howtodonate-desktop.jpg);
	}
}
.donate-content{
	flex-flow: column;
	text-align: center;
	padding: $base_spacing_large 0;
	a{
		margin-bottom: 0;
	}
}