.site-footer {
	background-image: url('../../assets/backgrounds/desktop-footer.png');
	background-size:  cover;
	background-position: center;
	width: 100%;
	height: 100%;
	font-family: $font_header, $font__main;
}

.footer-content {
	@include flexify(center, center);
	flex-direction: column;
}

.contact-info {
	p {
		text-align: center;
		a {
			text-decoration: none;
			color: white;
		}
	}
}

.rise-location {
	p {
		color: white;
		font-family: $font_header, $font__main;
		text-align: center;
		i {
			@include flexify(center, center);
			font-size: 30px;
		}
	}
}

.footer-media {
	p {
		i {
			text-decoration: none;
			color: white;
			font-size: 30px;
			border: 1px solid white;
			border-radius: 50%;
			padding: 10px;
			width: 50px;
			text-align: center;
		}
	}
}