/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,	
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	background: $white;
	border: 0;
	border-radius: 0.7rem;
	box-shadow: 0px 3px 6px $color_dark_grey;
	padding: 1.5rem $base_spacing_large;
	color: $color_dark_grey;
	line-height: 1;
	transition: background-color 0.3s ease, color 0.3s ease;
	text-transform: capitalize;
	overflow: none;
	&:hover {
		background-color: darken($white, 8%);
	}
	&:active,
	&:focus {
		border: none;
	}
}
.blue-btn{
	@include button-color($color_brand_blue, $white);
}
.red-btn {
	@include button-color($color_brand_red, $white);
}
/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	background-color: white;
	border: 1px solid #ccc;
	
	box-shadow: none;
	border: none;
	border-bottom: 1px solid black;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
