// .hamburger{
//   background:none;
//   position:absolute;
//   top:0;
//   right:0;
//   line-height:45px;
//   padding:0px 15px 0px 15px;
//   color:#fff;
//   border:0;
//   font-size:1.4em;
//   font-weight:bold;
//   cursor:pointer;
//   outline:none;
//   z-index:1000;
// }

// .cross{
//   background:none;
//   position:absolute;
//   top:0px;
//   right:0;
//   padding:0px 15px 0px 15px;
//   color:#fff;
//   border:0;
//   font-size:3em;
//   line-height:65px;
//   font-weight:bold;
//   cursor:pointer;
//   outline:none;
//   z-index:100;
// }




.site-header {
  @include flexify(space-between, center);
  background: url('../../assets/backgrounds/mobile-header.png') center;
  background-size: cover;
  height: 12rem;
  width: 100%;
  position: fixed;
  z-index: 9999;
  @include desktop {
    background-image: url('../../assets/backgrounds/desktop-header.png');
  }
}
.site-branding {
  a {
    img{
      width: 50rem;
      padding: $base_spacing_large;
      @include desktop {
        width: 40rem;
      }
    }
  }
}

.main-navigation {
  @include flexify(space-around, center);
  flex-direction: column;
  background-color: $color_brand_blue;
  @include desktop {
    flex-direction: row;
  }

}
.menu{
  @include flexify(flex-start, space-between);
  flex-flow: column wrap;
  @include desktop {
    flex-flow: row;
  }

}

.menu-wrap{

  @include desktop {
    display: none;
  }
}
.hamburger {
  text-transform: uppercase;
}

.hdr-pusher{
  height: 11rem;
}
