//Setting Site background and fixedness
.site-header {
  @include flexify(space-between, center);
  // background: url('../../assets/backgrounds/mobile-header.png') center;
  background-image: url('../../assets/backgrounds/header.jpg');
  background-size: cover;
  padding: $base_spacing $base_spacing_large $base_spacing $base_spacing_large;
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 3px rgba($color_dark_grey, 0.4);
  @include desktop {
    align-items:center;
    // background-image: url('../../assets/backgrounds/desktop-header.jpg');
  }
}
//Header logo settings
.site-branding {
  min-width: 25rem;
  padding-right: $base_spacing_large;
}

// Navigation styles (move to nav sass after done)
.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  max-height: 100%;
  z-index: 15;
  background-color: $color_brand_blue;
  padding-top: $base_spacing_large;
  overflow-y: scroll;
  transition: transform 0.3s ease;
  transform: translateX(30rem);
  &.open{
    transform: translateX(0);
  }
  img {
    position: absolute;
    right: 10%;
    top: 4rem;
  }
  .menu{
    @include flexify(flex-start, space-between);
    flex-flow: column;
    height: 40rem;
    width: 40%;
  }

  // Each Menu heading
  .menu-item{
    margin: 12%;
    margin-left: $base_spacing_large;
    a{
      color: $white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .legal-form{
    background-color: $color_brand_red;
    color: $white;
    width: 100%;
    padding: $base_spacing_large 0;
    border-radius: 0;
    a{
      color: $white;
    }
    &:hover {
      background-color: darken($color_brand_red, 8%);
    }
  }
  .close-nav{
    cursor: pointer;
  }
}
  //Hamburger Menu Styles
.menu-wrap{
  width: 15rem;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
  margin-bottom: $base_spacing;
  img{
    width: 100%;
  }
  &:hover {
    background-color: transparent;
  }
  @include desktop {
    display: none;
  }
}

// Desktop Nav Styles
.desktop-navigation{
  display: none;
  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 75%;
    // @include flexify(space-between, center);
    .menu-menu-1-container{
    max-width: 70%;
    
    }
    .menu {
      margin: 0;
      @include flexify(flex-start, center);
    }
    .menu-item{
      margin-right: 5%;
      a{
        color: $white;
        padding-bottom: .5rem;
        // font-size: 1.8rem;
        &:hover{
          border-bottom: 3px solid $color_light_blue;
        }
      }
      &:nth-child(1){
        display: none;
      }
    }
    .legal-btn-wrap{
      width: 25%;
      margin-left: 3%;
      // z-index: -1;
    }
    .legal-form{
      min-width: 80%;
      font-size: 1.6rem;
     }    
  }
}
.nav-active{
  border-bottom: none;
  @include desktop {
    border-bottom: 3px solid $color_light_blue;
  }
}
.hdr-pusher{
  height: 9rem;
}
