// .hamburger{
//   background:none;
//   position:absolute;
//   top:0;
//   right:0;
//   line-height:45px;
//   padding:0px 15px 0px 15px;
//   color:#fff;
//   border:0;
//   font-size:1.4em;
//   font-weight:bold;
//   cursor:pointer;
//   outline:none;
//   z-index:1000;
// }

// .cross{
//   background:none;
//   position:absolute;
//   top:0px;
//   right:0;
//   padding:0px 15px 0px 15px;
//   color:#fff;
//   border:0;
//   font-size:3em;
//   line-height:65px;
//   font-weight:bold;
//   cursor:pointer;
//   outline:none;
//   z-index:100;
// }



//Setting Site background and fixedness
.site-header {
  @include flexify(space-between, flex-end);
  align-content: flex-end;
  background: url('../../assets/backgrounds/mobile-header.png') center;
  background-size: cover;
  padding: $base_spacing $base_spacing_large $base_spacing_large $base_spacing_large;
  width: 100%;
  position: fixed;
  z-index: 10;
  @include desktop {
    align-items:center;
    background-image: url('../../assets/backgrounds/desktop-header.png');
  }
}
//Header logo settings
.site-branding {
  width: 25rem;
  padding-right: $base_spacing_large;
}

// Navigation styles (move to nav sass after done)
.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  max-height: 100%;
  z-index: 15;
  background-color: $color_brand_blue;
  padding-top: $base_spacing_large;
  overflow-y: scroll;
  transition: transform 0.3s ease;
  transform: translateX(30rem);
  &.open{
    transform: translateX(0);
  }
  img {
    position: absolute;
    right: 10%;
    top: 4rem;
  }
  .menu{
    @include flexify(flex-start, space-between);
    flex-flow: column;
    height: 40rem;
    width: 40%;
  }

  // Each Menu heading
  .menu-item{
    padding: 15%;
    padding-left: $base_spacing_large;
    a{
      color: $white;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .legal-form{
    background-color: $color_brand_red;
    color: $white;
    text-shadow: none;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: $base_spacing_large 0;
    &:hover {
      box-shadow: none;
      background-color: darken($color_brand_red, 8%);
    }
    @include desktop {
      display: inline-block;
    }
  }
  .close-nav{
    cursor: pointer;
  }
}
  //Hamburger Menu Styles
.menu-wrap{
  @include desktop {
    display: none;
  }
}
.hamburger {
  text-transform: uppercase;
  background-color: transparent;
  color: $white;
  box-shadow: none;
  border: none;
  padding: 0;
  &:hover {
    box-shadow: none;
  }
}

.desktop-navigation{
  display: none;
  @include desktop {
    @include flexify(space-between, center);
    width: 70%;
    .menu {
      margin: 0;
      @include flexify(flex-start, center);
      flex-flow: row;
      // width: 60%;
      position: relative;
    }
    .menu-item{
      padding: 0;
      padding-right: $base_spacing_large;
      a{
        color: $white;
        padding-bottom: .5rem;
        &:hover{
          border-bottom: 3px solid $color_light_blue;
        }
      }
      &:nth-child(1){
        display: none;
      }
    }
    .legal-form{
      background-color: $color_brand_red;
      color: $white;
      height: 5rem;
      width: 20rem;
      font-size: 1.6rem;
      text-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0;
    }    
  }
}
.hdr-pusher{
  height: 11rem;
}
