//form styling across all pages
.legal-form-content {
	width: 80%;
	margin: 0 auto;
}

.gform_wrapper {
	@include flexify(center, inherit);
	form {
		width: 100%;
	}
}

.gf_progressbar {
	border-radius: 10px;
	background-color: $color_light_grey;
	box-shadow: 0px 3px 6px $color_medium_grey;

	.gf_progressbar_percentage {
		background-color: $color_brand_green;
		border-radius: 10px;
		text-align: center;
		padding: 15px;
		span {
			color: white;
			font-weight: 500;
			font-size: $h3_size;
		}
	}
	.percentbar_0 {
		background-color: $color_light_grey;
		span {
			color: $color_brand_blue;
		}
	}
}

.gform_page_fields {
	display: flex;
	flex-direction: column;
}

.gform_page_footer {
	@include flexify(center,center);
	.gform_previous_button {
		@include white-button;
	}
	.gform_next_button {
		@include blue-button;
	}
}

//radio checkbox styling
.ginput_container_radio {
	.gfield_radio {
		@include flexify(center,center);
		width: 100%;
		li {
			@include flexify(center,center);
			margin: 15px 25px;
			input{
				width: 40px;
				height: 40px;
				background-color: white;
				color: white;
				font-size: 1rem;
				cursor: pointer;
				&:hover {
					cursor: pointer;
				}	
				}	
			label {
				font-size: $h3_size;
				padding: 10px;
			}
		}
	}
}

//date calendar styling
.ui-datepicker {
	background-color: white;
	border: 1px solid black;
	padding: 25px 40px;
}

.ui-datepicker-header {
	border: 1px solid black;
	text-align: center;
	padding-top: 15px;
	a {
		span {
			border: 1px solid black;
			padding: 5px;
			cursor: pointer;
		}
	}
	.ui-datepicker-title {
		margin: 10px;
	}
}
.ui-datepicker-calendar {
	thead {
		tr {
			th {
				border: 1px solid black;
			}
		}
	}
	tbody {
		tr {
			td {
				border: 1px solid black;
				padding: 5px;
				text-align: center;
				cursor: pointer;
				&:hover {
					background-color: $color_light_grey;
				}
				a {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}


//////////////////////////////
//page 1
.ginput_container_email {
	input {
		width: 100%;
	}
}

.name_first {
	display: flex;
	flex-direction: column;
}

.name_last {
	display: flex;
	flex-direction: column;
}


//page 2

.gfield_label {
	font-size: $h2_size;
	span {
		color: $color_light_red;
	}
}

.ginput_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	span {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		width: 100%;
		label {
			font-size: 1.5rem;
		}
	}
	.address_zip {
		width: 48%;
		margin: auto;
	}
	.address_country {
		width: 48%;
		margin: auto;
		select {
			border: none;
			border-bottom: 1px solid black;
			padding: 5px 0;
		}
	}

}

.gfield_contains_required {
	margin: 10px 0;
}

.ginput_container_phone {
	input {
		border: none;
		border-bottom: 1px solid black;
		width: 100%;
	}
}

//page 4
.ginput_container_text {
	input {
		width: 100%;
	}
}

//page 6
.gsection_description {
	height: 200px;
    overflow-y: scroll;
}

.read-and-agree {
	@include flexify(center,center);
	.gfield_label{
		padding-right: 10px;
	}
	.ginput_container {
		width: auto;
	}
}


.privacy-icon {
	text-align: center;
	margin: 20px 0;
}

.ginput_container_checkbox {
	@include flexify(center,center);
}

//page 7
.gform_validation_container {
	display: none;
}
