// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin flexify($justify, $align-items) {
	display: flex;
	justify-content: $justify;
	align-items: $align-items;
}

@mixin button($bg, $font-color) {
	background-color: $bg;
	color: $font-color;
	height: 50px;
	width: 200px;
	border-radius: 10px;
	@include desktop {
		&:hover {
			background: darken($bg,8%);
		}
	}
}