// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin flexify($justify, $align-items) {
	display: flex;
	justify-content: $justify;
	align-items: $align-items;
}

@mixin button($bg, $font-color) {
	background-color: $bg;
	color: $font-color;
	height: 5rem;
	width: 20rem;
	border-radius: 1rem;
	@include desktop {
		&:hover {
			background: darken($bg,8%);
		}
	}
}

@mixin white-button {
	background-color: $white;
	padding: $base_spacing_large/2 $base_spacing_large;
	color: black;
	height: 5rem;
	width: 20rem;
	border-radius: 0.5rem;
	box-shadow: 0px 3px 6px black;

	@include desktop {
		&:hover {
			background: darken(black,8%);
		}
	}
}