/*--------------------------------------------------------------
# Modal Styles
--------------------------------------------------------------*/

// Modal Styling
.modalDialog {
	position: fixed;
	@include flexify(center, center);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $color_light_blue;
	z-index: 99999;
	opacity: 0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	div{
		width: 65rem;
		max-height: 100%;
		overflow-y: scroll;
		position: relative;
		padding: $base_spacing_extra_large;
		background-color: $color_light_blue;
		border-radius: 10px;
		text-align: left;
		h2{
			margin: 0;
		}
		p{
			margin: 0;
		}
	}
	&:target{
		opacity: 1;
		pointer-events: auto;
	}
	@include desktop {
		background: rgba(255,255,255, 0.6);
	}

}
.close {
	width: 6rem;
	height: 6rem;
	background: url(../../assets/icons/icon-exit-white.svg) no-repeat;
	background-position: center;
	position: absolute;
	right: 4rem;
	top: 4rem;
	transition: background 400ms linear ;
	&:hover{
		background: url(../../assets/icons/icon-exit.svg) no-repeat;
		background-position: center;
	}
}
.modal-btn{
	@include button-color($color_brand_blue, $white);
}
.services-modal-btn{
	@include flexify(center,center);
	box-shadow: 0 2px 4px rgba($color_dark_grey, 0.75);	
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	img{
		height: 5rem;
	}
}