/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.container{
	margin: 0 auto;
	width: 80%;
}
.flex-center{
	@include flexify(center, center);
}
//Homepage Banner styles
.front-banner{
	color: $color_brand_blue;
	@include flexify(center, center);
}
.banner-content{
	padding: 10% 5%;
	text-align: center;
	@include flexify(center, center);
	flex-flow: column;
	a{
		margin: $base_spacing_large 0;
	}
}

//Contact Process Section Styles
.contact-process{
	@include flexify(center, center);
	flex-flow: column;
	padding-bottom: $base_spacing_extra_large;
}
.contact-process-image{
	margin-left: 10%;
}
.contact-process-content {
	flex-flow: column;
	.btn {
		margin-bottom: $base_spacing_large;
	}
}
.month{
	font-weight: bold;
}
//Title Banner Styles
.title-banner{
	flex-flow: column;
	color: $white;
	padding: $base_spacing_extra_large;
	h2{
		color: $white;
	}
}
.donate-banner {
	background-image: url(../../assets/images/mobile/donate-howtodonate-mobile.jpg);
	background-position: center;
	color: white;
	@include desktop {
		background-image: url(../../assets/images/desktop/donate-howtodonate-desktop.jpg);
	}
}
.donate-content{
	flex-flow: column;
	text-align: center;
}

//Somthing joseph changed, not sure what it styles yet
.entry-header {
	padding-top: 7.5rem;
}

.entry-title {
	margin-bottom: 0;
    padding-bottom: 0;
}

