.resources-content{
	flex-flow: column;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.resource-banner{
	background-color: $color_brand_blue;
	
	ul{
		@include flexify(space-between, center);
		flex-flow: wrap;
		width: 80%;
		li{
			width: 5rem;
			height: 3rem;
			margin: $base_spacing_large;
			a{
				color: $white;
				border: 2px white solid;
				cursor: pointer;
				padding: $base_spacing $base_spacing_large;
				
				&:hover {
					color: $color_brand_blue;
					background-color: $color_light_blue;
				}
			}
		}
	}

}
.resources{
	width: 80%;
	margin: 0 auto;
}
.resource-post{
	h3{
		padding: 0;
		margin: 0;
		a{
			color: $color_brand_red;
			&:hover {
				color: darken($color_brand_red, 8%);

			}
		}
	}
	p {
		margin: $base_spacing 0 $base_spacing_extra_large 0;
		padding: 0;
	}
}