
/*--------------------------------------------------------------
# Services Page Styles
--------------------------------------------------------------*/

.services-banner {
	background-image: url(../../assets/images/mobile/service-help-mobile.jpg);
	background-position: center;
	background-size: cover;
	@include desktop {
		background-image: url(../../assets/images/desktop/service-help-desktop.jpg);
	}
}
.school-banner {
	background-image: url(../../assets/images/mobile/service-school-mobile.jpg);
	background-position: center;
	background-size: cover;
	@include desktop {
		background-image: url(../../assets/images/desktop/service-school-desktop.jpg);
	}
	height: 30rem;
}
.services {
	@include flexify(center, center);
	flex-flow: row wrap;
	
}
.indvid-services{
	flex-basis: 50%;
	@include desktop {
		flex-basis: 25%;
	}
}
.indvid-services-btn{
	@include flexify(center, center);
	flex-flow: column;
	text-align: center;
	p {
		margin-top: $base_spacing;
		margin-bottom: $base_spacing_large;
	}

}