.student-container {
	flex-direction: column;
	text-align: center;
}

.student-title {
	padding: 0;
	margin: 0;
}

.externship-title {
	background-image: url('../../assets/images/mobile/student-mobile.jpg');
	background-size: cover;
	padding: 4rem;
	padding: 7% 0;
	img {
		width: 4rem;
	}
	h2 {
		text-transform: capitalize;
		color: white;
		padding: 0;
		margin: 0;
	}
}

.student-externship {
	margin: $base_spacing_extra_large;
}

.student-features {
	// padding: 40px 0;
	border-bottom: 1px solid $color_medium_grey;
	width: 80%;
	margin: 0 auto;

	@include desktop {
		@include flexify(center,center);
		flex-direction: row;
	}
	.student-features-icon {
		margin-bottom: 25px;
		@include desktop {
			flex: 20%;	
			margin: 0;
		}
	}
	.student-feature-meta {
		@include desktop {
			flex: 80%;
			text-align: left;	
		}		
	}
	&:last-child{
		border: none;
	}
}
