.student-container {
	flex-direction: column;
	text-align: center;
}

.student-title {
	padding: 0;
	margin: 0;
}

.externship-banner {
	
	background-image: url('../../assets/images/mobile/student-mobile.jpg');
	background-size: cover;
	padding: 4rem;
	padding: 7% 0;
	img {
		width: 4rem;
	}
	h2 {
		text-transform: capitalize;
		color: white;
		padding: 0;
		margin: 0;
	}
}

.student-externship {
	padding: $base_spacing_extra_large 0;
}

.student-features {
	border-bottom: 1px solid $color_medium_grey;
	margin-bottom: $base_spacing_large;
	padding-bottom: $base_spacing_large;
	img {
		margin-bottom: $base_spacing_large;
	}
	@include desktop {
		@include flexify(center,center);
		flex-direction: row;
		img {
			margin: 0 $base_spacing_extra_large;
		}
	}
	
	.student-feature-meta {
		@include desktop {
			flex: 80%;
			text-align: left;	
		}		
	}
	&:last-child{
		border: none;
	}
}
