/********* Structure **********/

$base__space-unit: 1.5em;

//Layout
$base_spacing: 0.5rem; 
$base_spacing_large: $base_spacing * 3;
$base_spacing_extra_large: $base_spacing * 5;

//Screen Size

$desktop_width: 800px;

/********* Colours **********/

//Rise Brand Colours
$color_brand_blue: #155E89;
$color_brand_red: #A44F52;
$color_medium_grey: #4A4A4A;
$color_brand_green: #7EB266;
$white: white;

// a11y colours
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

//probabaly wont use this link colours, be sure to delete later 
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;



/********* Typography **********/

//Typefaces
$font_stack_header: 'Raleway', sans-serif;
$font_stack_body: 'Montserrat', sans-serif;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//Font Sizing

//mobile sizes
$h1_size: 2.2rem;
$h2_size: 1.8rem;
$h3_size: 1.6rem;
$font_body_size: 1.6rem;

//desktop sizes
$h1_size_desktop: 4.8rem;
$h2_size_desktop: 3rem;
$h3_size_desktop: 2.4rem;
$font_body_size_desktop: 2rem;

//Not sure if we'll need the below, will come back too
// $font_size_subtitle: 1rem;
// $font_size_link: 1rem;
// $font_size_body_note: 0.889rem;
// $font_size_button: 1rem;
// $font_size_alphabet: 1.222rem;

// $font_size_about: 1.75rem;
// $font_size_link_desktop: 0.9rem;
// $font_size_body_note_desktop: 0.9rem;


