// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color_header_blue: #155E89;
$color_link_red: #A44F52;
$color_body_: #4A4A4A;
$color_bar_green: #7EB266;


//Screen Size
$mobile_width: 600px;
$desktop_width: 1240px;


// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font_header: 'raleway';
$font_link: 'montserrat';


//font size

$font_size_base_mobile: 18px;
$font_size_base_desktop: 20px;

$font_size_header1: 1.222rem;
$font_size_subtitle: 1rem;
$font_size_header2: 1rem;
$font_size_link: 1rem;
$font_size_body_note: 0.889rem;
$font_size_button: 1rem;
$font_size_alphabet: 1.222rem;

$font_size_header1_desktop: $font_size_header1 * 2;
$font_size_header2_desktop: $font_size_header2 * 1.5;
$font_size_about: 1.75rem;
$font_size_link_desktop: 0.9rem;
$font_size_body_note_desktop: 0.9rem;

//Layout
$base_spacing: 0.5rem; 
$base_spacing_large: $base_spacing * 3;
$base_spacing_extra_large: $base_spacing * 5;
